<div class="container">
    <form ng-submit="cars.addCar()" class="form-horizontal" role="form" novalidate>
        <h2>Add Car</h2>
        <div class="form-group">
            <label for="year" class="col-sm-3 control-label">Year</label>
            <div class="col-sm-9">
                <input ng-model="cars.year" type="text" id="carYear" placeholder="Car Year" class="form-control" autofocus>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="make" class="col-sm-3 control-label">Make</label>
            <div class="col-sm-9">
                <input ng-model="cars.make" type="text" id="make" placeholder="Make" class="form-control" autofocus>
                <span class="help-block"></span>
                </div>
        </div>
        <div class="form-group">
            <label for="model" class="col-sm-3 control-label">Model</label>
            <div class="col-sm-9">
                <input ng-model="cars.model" type="text" id="model" placeholder="Model" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-3 control-label">Price per Day</label>
            <div class="col-sm-9">
                <input ng-model="cars.price" type="text" id="password" placeholder="Price per day" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="image" class="col-sm-3 control-label">Image</label>
            <div class="col-sm-9">
                <input ng-model="car.image" type="text" id="image" placeholder="Image URL" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="miles" class="col-sm-3 control-label">Miles</label>
            <div class="col-sm-9">
                <input ng-model="cars.miles" type="text" id="miles" placeholder="Miles" class="form-control">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </div>
        </div>
    </form> <!-- /form -->
        </div> <!-- ./container -->