
<div ng-repeat="car in cars.all" class="cards col-md-7">
<div class="card">
<img class="card-img-top" ng-src="{{ car.image }}"  alt="Card image cap">
  <div class="card-block">
    <p class="username">{{ users.cars }}'s</p>
    <a href="#" class="make">{{ car.make }}</a>
    <p class="model">{{ car.model }}</p>
    <p class="price">{{ car.price }} per day</p>
    
    <img class="avatar" ng-src="{{ user.profileImage }}"  alt="avatar">
  
  
    <a href="#/bookCar"class="btn btn-primary">Book this car</a>
  </div>
</div>
</div>
