<div class="booking-form container">
  <section ng-controller="PanelController as panel">
   
   
      <form name="mealForm" ng-controller="FormController as form" method="post" ng-submit="mealForm.$valid && handleFormSubmit(booking)" novalidate="" ng-hide="message">
      <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="startDate">Start Date                                                    <span class="required"> *</span>
              </label>
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened1" min-date="minDate" max-date="" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-model="booking.startDate" name="startDate" id="startDate" ng-required="true" close-text="Close" ng-click="open($event)" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="endDate">End Date                                                                                <span class="required"> *</span>
              </label>
              <p class="input-group">
                <input type="text" ng-disabled="!booking.startDate" class="form-control" datepicker-popup="{{format}}" ng-model="booking.endDate" name="endDate" id="endDate" is-open="opened2" min-date="booking.startDate" max-date="" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open2($event)" />
                <span class="input-group-btn">
                  <button type="button" ng-disabled="!booking.startDate" class="btn btn-default" ng-click="open2($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
          </div>
        </div>
        <!-- /.row -->
        
              </label>
              
       
        <div class="form-group">
          <label class="total" for="total">
            Total:                                                                                 <span>{{booking.total | currency}}</span>
            <em ng-show="booking.discount"></span>
            </em>
          </label>
        </div>
        <div class="form-group">
          <button type="submit" ng-disabled="mealForm.$invalid" value="Submit" class="btn btn-default">Submit</button>
          <input type="hidden" ng-model="booking.mealType" name="mealType" />
          <input type="hidden" ng-model="booking.total" name="total" />
          <input type="hidden" ng-model="booking.percentage" name="discount" />
        </div>
      </form>
    </div>
    <!-- /.panel -->
    <!-- Success message -->
    <div ng-show="message">
      <p>Form submitted succesfully!</p>
    </div>
    
