<div class="rowDate">
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="cars.startDate" is-open="cars.startPickerOpen" datepicker-options="cars.startDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="cars.openStartPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="cars.endDate" is-open="cars.endPickerOpen" datepicker-options="cars.endDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="cars.openEndPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>

  <button type="button" class="btn btn-md btn-default findCars" ng-click="cars.getAvailableCars()">Find Cars</button>
</div>