<div class="card" class="cards col-md-7">
<div class="card">
<img class="card-img-top" ng-src="{{ car.image }}"  alt="Card image cap">
  <div class="card-block">
    <p class="username">{{ user.username }}'s</p>
    <a ui-sref="selectCar({ id: car._id })" class="make">{{ car.make }}</a>
    <p class="model">{{ car.model }}</p>
    <p class="price">{{ car.price }} per day</p>

    <img class="avatar" ng-src="{{ users.currentUser.profileImage }}"  alt="avatar">
  
    <a type="submit" class="btn btn-primary" ui-sref="payment">Pay Now</a>
  </div>
</div>
</div>
